.myheader{
    height: 250px;
    min-height: 250px;
    position:relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.navStyle{
    background-color:#DB001B;
    height: 100%;
}
.infoImage{
	height:200px;
	margin-left: 40%;
  	margin-bottom: 5%;
    cursor:pointer;
    box-shadow: 0px 7px 7px 0px;
}
.socialImages{
	height:20px;
    align-self: center;
  	margin-bottom: 5%;
    cursor:pointer;
}
.myimages{
    height:100px;
    cursor:pointer;
    box-shadow: 0px 7px 7px 0px; 
}
.myimages:hover{
    opacity: 0.5;
}
.myimages:active{
    padding: 10px 0;
    opacity: 1;
    text-align:center;
    margin: auto;
    display:block;
    height: 70%;
    width: 70%;
}
.noStyle{
    text-align:center;
    font-size:25px;
    border-right: 1px solid black;
    color:white;
    padding-right: 10px;
    text-decoration: none;
}

.noStyle:link{
    color:darkblue;
    text-decoration: none;
}
.noStyle:hover{
    color:#3498db;
    background-color:white;

}

li{
    display: inline;
}
.menu{
    padding-top:5%;
    padding-left:15%;
}
.mylist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:auto;
    margin-right: auto;
    display: block;
    text-align:center;
}
.names{
    display:block;
}
p{
    text-align: center;

}
.border2{
    padding-left:5%;  
}
.delete{
    text-decoration: line-through red ;
    font-size:20px;
}
.border{
    border:4px solid #3498db;
    margin-left:30%;
    margin-bottom:5%;
}
.alignrow{
    padding-left: 48%;
    padding-top:3%;
}
.alignrow2{
    padding-left: 29%;
    padding-top:3%;
}
.bordertable{
    
    margin-left:10%;
    margin-bottom:5%;
}
td,th{
    border: 2px solid rgba(0, 0, 0, 0.27);
}

.styleback{
    background-color: rgba(209, 81, 81, 0.699);
}
.alignt{
    margin-left:32%;
}
.alignvideo{
    margin-left:33%;
    padding-left:30%;
}
.alignvideoY{
    margin-left:19%;
    padding-left:19%;
}
.alignsound{
    margin-left:33%;
    padding-left:30%;
}
.profileStyle{
    width:60%;
    border-radius: 100%;
}
.backcolor{
    background-color: rgba(219, 52, 52, 0.17);
}
.bcolor{
    background-color: rgba(219, 52, 52, 0.17);
}
.row.content{
    height: 100%;
}
.thclass{
    color:#db3434; 
    text-align:center;
    padding:0px 10px 0 10px;
}
.tdclass{
    padding:0px 20px 0 20px;
}
.body{
    padding-top:0;
}
.grades{
    margin-left:40%;
    margin-bottom:5%;
}

h1,h2{
    text-align: center;
    margin:0;
    color:black;
}

h3{
    text-decoration:underline  #db3434;
    text-align: center;
    padding-top:5%;
}
footer{
    padding-top: 4%;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .myheader {
        left:19%;
    }
    .navStyle{
        position: relative;
        left:19%;
    }
    article{
        position: relative;
        left:19%;
    }
    .noStyle{
        font-size:10px;
        padding: 0px 0px 0px 0px;
    }
    .profileStyle{
        position: relative;
        left:20%;
    }
    
    .border{
        position: relative;
        right:10%;
    }
    .bordertable{
        position: relative;
        right: 10%;
    }
    .alignt{
        position: relative;
        right:15%;
    }
    .alignvideo{
        position: relative;
        right:15%;
    }
    .alignsound{
        position: relative;
        right:30%;
    }
    footer{
        position: relative;
        right:15%;
    }
}

@media screen and (max-width: 480px) {
    
    .noStyle{
        font-size:10px;
        padding: 0px 0px 0px 0px;
    }
    .profileStyle{
        position: relative;
        left:20%;
    }
    
    .border{
        position: relative;
        right:10%;
    }
    .bordertable{
        position: relative;
        right: 10%;
    }
    .alignt{
        position: relative;
        right:15%;
    }
    .alignvideo{
        position: relative;
        right:15%;
    }
    .alignsound{
        position: relative;
        right:30%;
    }
    footer{
        position: relative;
        
    }
}
